@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ol, ul, li {
  list-style: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  font-family: "Comfortaa";
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

/*HEADER START*/
.header {
  position: relative;
  flex-shrink: 0;
  /*MEDIA START*/
  /*MEDIA END*/
}
.header-row {
  display: flex;
  padding: 20px 0 12px 0;
  align-items: center;
  justify-content: space-between;
}
.header-navbar {
  display: flex;
  align-items: center;
}
.header-navbar:not(:last-child) {
  gap: 40px;
}
.header-link {
  color: var(--black, #121212);
  font-family: Comfortaa;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-link:hover {
  color: red;
}
.header-tarmoq {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header .lacation {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}
.header .lacation-text {
  color: var(--black, #121212);
  font-family: Comfortaa;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header .numbers {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}
.header .numbers-contact {
  color: var(--black, #121212);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-mobile {
  display: none;
}
@media screen and (max-width: 375px) {
  .header-mobile {
    display: block;
  }
  .header-navbar {
    display: none;
  }
  .header-tarmoq {
    display: none;
  }
  .header-profile {
    gap: 20px;
  }
}

/*HEADER END*/
/*section start*/
.section {
  width: 100%;
  height: 555px;
  margin-bottom: 100px;
}
.section-wrap {
  display: flex;
  height: 100%;
  gap: 20px;
}
.section-wrap-banner1 {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 40px;
  background-color: #F5F5F5;
  padding: 60px 27px 37px;
  gap: 20px;
}
.section-wrap-banner1-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-wrap-banner1-text1 {
  color: #131313;
  font-family: "Comfortaa";
  font-size: 38px;
  font-weight: 700;
  line-height: 136.842%;
}
.section-wrap-banner1-text2 {
  color: #4F4F4F;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
}
.section-wrap-banner1-button {
  display: flex;
  width: 60%;
  padding: 30px 36px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 60px;
  color: #FFF;
  background-color: #ED145B;
  transition: all 0.2s ease-in-out;
}
.section-wrap-banner1-button:hover {
  background-color: rgb(133, 4, 4);
}
.section-wrap-banner1-button-text3 {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 400;
  line-height: 184.615%;
}
.section-wrap-banner1-img {
  position: absolute;
  width: 412.541px;
  height: 241.888px;
  flex-shrink: 0;
  right: 0;
  bottom: 0;
}
.section-wrap-banner2 {
  width: 50%;
  height: 100%;
}
.section-wrap-banner2-one {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 48px 152px 0 30px;
  gap: 60px;
  margin-bottom: 20px;
  border-radius: 40px;
  background-color: #778CEB;
  background-image: url(../images/portret.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.section-wrap-banner2-one-text {
  color: #FFF;
  font-family: "Comfortaa";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
.section-wrap-banner2-one-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-wrap-banner2-one-buttons-button {
  display: inline-flex;
  padding: 13px 14px 13px 26px;
  justify-content: flex-end;
  align-items: center;
  gap: 19px;
  border-radius: 60px;
  background-color: #FFF;
}
.section-wrap-banner2-one-buttons-button-img {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  background-color: #FFB27D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-wrap-banner2-one-buttons-text {
  color: var(--black, #131313);
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 184.615%;
  letter-spacing: 0.52px;
  text-transform: uppercase;
}
.section-wrap-banner2-one-buttons-text2 {
  color: #FFB27D;
  font-family: "Montserrat";
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
  line-height: 90.566%;
}
.section-wrap-banner2-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}
.section-wrap-banner2-two {
  width: 50%;
  height: 50%;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 65px 11px 0 30px;
  gap: 9px;
  border-radius: 40px;
  background-color: linear-gradient(89deg, rgba(0, 0, 0, 0.2) 35.75%, rgba(0, 0, 0, 0) 101.16%);
  background-image: url(../images/image\ 199.png);
  background-repeat: no-repeat;
  background-position: right;
}
.section-wrap-banner2-two-text {
  color: #FFF;
  font-family: Comfortaa;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 130.769%;
}
.section-wrap-banner2-two-text2 {
  color: #FFF;
  font-family: "Comfortaa";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%;
}
.section-wrap-banner2-three {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  gap: 22px;
  padding: 62px 30px 62px;
  overflow: hidden;
  background-size: cover;
  background-image: url(../images/Rectangle\ 333.png);
  background-repeat: no-repeat;
}
.section-wrap-banner2-three-text {
  position: absolute;
  right: 30px;
  color: var(--black, #131313);
  font-family: "Comfortaa";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.667%;
}
.section-wrap-banner2-three-text2 {
  position: absolute;
  right: 30px;
  bottom: 90px;
  color: var(--blue, #778CEB);
  font-family: "Montserrat";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 96%;
}

/*section end*/
.section2 {
  width: 100%;
  height: 1280px;
}
.section2-wrap {
  display: flex;
  height: 100%;
}

.section-wrap-banner-text-text2 {
  display: flex;
  gap: 40px;
}
.section-wrap-banner-text-text2-left {
  display: flex;
  gap: 24px;
}
.section-wrap-banner-text-text2-left-one {
  color: #778CEB;
  font-family: "Comfortaa";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.section-wrap-banner-text-text2-left-two {
  color: #121212;
  font-family: "Comfortaa";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 129.412%;
}
.section-wrap-banner-text-text2-right {
  display: flex;
  gap: 24px;
}/*# sourceMappingURL=main.css.map */